{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Share</title>
    {% block extra_head %}
      <link rel="stylesheet" href="{% static 'pages/styles.css' %}">
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {% if messages %}
        <div>
          <ul>
            {% for message in messages %}
              <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% block content %}
        {% if user.is_authenticated %}
          <h4>Welcome {{ user.username }}</h4>
          <p><a href="{% url 'account_logout' %}">Log out</a>
        {% else %}
          <p><a href="{% url 'account_signup' %}">Register</a></p>
          <p><a href="{% url 'account_login' %}">Log In</a></p>
          <button class="google"><a href="{% provider_login_url 'google' %}">Log In with Google</a></button>
        {% endif %}
      {% endblock content %}
    {% endblock %}
    {% block extra_body %}{% endblock %}
  </body>
</html>
